{
  "openapi": "3.1.0",
  "info": {
    "title": "Data API",
    "description": "Microservice that serves insightful power and energy data",
    "version": "1.1",
    "contact": {
      "name": "Verdigris Support",
      "email": "support@verdigris.co",
      "url": "https://docs.verdigris.co/"
    },
    "termsOfService": "https://verdigris.co/terms"
  },
  "servers": [
    {
      "url": "https://api.verdigris.co/data/v4"
    }
  ],
  "tags": [
    {
      "name": "Energy",
      "description": "Endpoints that return energy data"
    },
    {
      "name": "Power",
      "description": "Endpoints that return power data"
    },
    {
      "name": "Power Factor",
      "description": "Endpoints that return power factor data"
    },
    {
      "name": "Control",
      "description": "Endpoints that return control data from building management systems (BMS)"
    },
    {
      "name": "Current",
      "description": "Endpoints that return current data"
    },
    {
      "name": "Voltage",
      "description": "Endpoints that return voltage data"
    },
    {
      "name": "Total Harmonic Distortion",
      "description": "Endpoints that return total harmonic distortion data"
    },
    {
      "name": "Weather",
      "description": "Endpoints that return weather data"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/energy/breakers": {
      "get": {
        "tags": [
          "Energy"
        ],
        "operationId": "getBatchBreakerEnergy",
        "summary": "Batch breaker energy",
        "description": "Gets energy data for multiple breakers in a single batch request. Units are in watt-hour (SI unit: **Wh**) if `type` query parameter is `real`, volt-ampere-hour (SI unit: **VAh**) if `type` query parameter is `apparent`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/breakerIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/energyType"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successEnergy"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/power/breakers": {
      "get": {
        "tags": [
          "Power"
        ],
        "operationId": "getBatchBreakerPower",
        "summary": "Batch breaker power",
        "description": "Gets average power data for multiple breakers in a single batch request. Units are in watts (SI unit: **W**).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/breakerIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPower"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/power-factor/breakers": {
      "get": {
        "tags": [
          "Power Factor"
        ],
        "operationId": "getBatchBreakerPowerFactor",
        "summary": "Batch breaker power factor",
        "description": "Gets average power factor data for multiple breakers in a single batch request. The power factor can range between -1 to 1 (a negative power factor may indicate a reverse current flow from sources such as solar panels or battery banks).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/breakerIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPowerFactor"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/control/buildings": {
      "get": {
        "tags": [
          "Control"
        ],
        "operationId": "getBatchBuildingControl",
        "summary": "Batch building controls",
        "description": "Gets time series data for various controls of multiple builidngs in a single batch request.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/buildingIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successControl"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/energy/buildings": {
      "get": {
        "tags": [
          "Energy"
        ],
        "operationId": "getBatchBuildingEnergy",
        "summary": "Batch building energy",
        "description": "Gets energy data for multiple buildings in a single batch request. Units are in watt-hour (SI unit: **Wh**) if `type` query parameter is `real`, volt-ampere-hour (SI unit: **VAh**) if `type` query parameter is `apparent`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/buildingIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/energyType"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successEnergy"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/forecast/buildings": {
      "get": {
        "tags": [
          "Forecast"
        ],
        "operationId": "getBatchBuildingForecast",
        "summary": "Batch building energy forecast",
        "description": "Gets forecasted energy data for multiple buildings in a single batch request.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/buildingIds"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successForecast"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/power/buildings": {
      "get": {
        "tags": [
          "Power"
        ],
        "operationId": "getBatchBuildingPower",
        "summary": "Batch building power",
        "description": "Gets average power data for multiple buildings in a single batch request. Units are in watts (SI unit: **W**).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/buildingIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPower"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/current/circuits": {
      "get": {
        "tags": [
          "Current"
        ],
        "operationId": "getBatchCircuitCurrent",
        "summary": "Batch circuit current (RMS)",
        "description": "Gets current data for multiple circuits in a single batch request. Units are in amperes (SI unit: **A**).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/circuitIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successCurrent"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/current/circuits/waveforms": {
      "get": {
        "tags": [
          "Current"
        ],
        "operationId": "getBatchCircuitCurrentWaveform",
        "summary": "Batch circuit current waveforms",
        "description": "Gets current waveforms for multiple circuits in a single batch request.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/circuitIds"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successWaveform"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/energy/circuits": {
      "get": {
        "tags": [
          "Energy"
        ],
        "operationId": "getBatchCircuitEnergy",
        "summary": "Batch circuit energy",
        "description": "Gets energy data for multiple circuits in a single batch request. Units are in watt-hour (SI unit: **Wh**) if `type` query parameter is `real`, volt-ampere-hour (SI unit: **VAh**) if `type` query parameter is `apparent`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/circuitIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/energyType"
          },
          {
            "$ref": "#/components/parameters/phaseCxOverride"
          },
          {
            "$ref": "#/components/parameters/reverseCxOverride"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successEnergy"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/power/circuits": {
      "get": {
        "tags": [
          "Power"
        ],
        "operationId": "getBatchCircuitPower",
        "summary": "Batch circuit power",
        "description": "Gets average power data for multiple circuits in a single batch request. Units are in watts (SI unit: **W**).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/circuitIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/phaseCxOverride"
          },
          {
            "$ref": "#/components/parameters/reverseCxOverride"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPower"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/power-factor/circuits": {
      "get": {
        "tags": [
          "Power Factor"
        ],
        "operationId": "getBatchCircuitPowerFactor",
        "summary": "Batch circuit power factor",
        "description": "Gets average power factor data for multiple circuits in a single batch request. The power factor can range between -1 to 1 (a negative power factor may indicate a reverse current flow from sources such as solar panels or battery banks).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/circuitIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/phaseCxOverride"
          },
          {
            "$ref": "#/components/parameters/reverseCxOverride"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPowerFactor"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/voltage/circuits": {
      "get": {
        "tags": [
          "Voltage"
        ],
        "operationId": "getBatchCircuitVoltage",
        "summary": "Batch circuit voltage (RMS)",
        "description": "Gets voltage data for multiple circuits in a single batch request. Units are in volts (SI unit: **V**).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/circuitIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/phaseCxOverride"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successVoltage"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/voltage/circuits/waveforms": {
      "get": {
        "tags": [
          "Voltage"
        ],
        "operationId": "getBatchCircuitVoltageWaveform",
        "summary": "Batch circuit voltage waveforms",
        "description": "Gets voltage waveforms for multiple circuits in a single batch request.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/circuitIds"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successWaveform"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/energy/panels": {
      "get": {
        "tags": [
          "Energy"
        ],
        "operationId": "getBatchPanelEnergy",
        "summary": "Batch panel energy",
        "description": "Gets energy data for multiple panels in a single batch request. Units are in watt-hour (SI unit: **Wh**) if `type` query parameter is `real`, volt-ampere-hour (SI unit: **VAh**) if `type` query parameter is `apparent`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/panelIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/energyType"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successEnergy"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/power/panels": {
      "get": {
        "tags": [
          "Power"
        ],
        "operationId": "getBatchPanelPower",
        "summary": "Batch panel power",
        "description": "Gets average power data for multiple panels in a single batch request. Units are in watts (SI unit: **W**).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/panelIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPower"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/power-factor/panels": {
      "get": {
        "tags": [
          "Power Factor"
        ],
        "operationId": "getBatchPanelPowerFactor",
        "summary": "Batch panel power factor",
        "description": "Gets average power factor data for multiple panels in a single batch request. The power factor can range between -1 to 1 (a negative power factor may indicate a reverse current flow from sources such as solar panels or battery banks).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/panelIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPowerFactor"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/thd/panels": {
      "get": {
        "tags": [
          "Total Harmonic Distortion"
        ],
        "operationId": "getBatchPanelTHD",
        "summary": "Batch panel total harmonic distortion",
        "description": "Gets average total harmonic distortion data for multiple panels in a single batch request.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/panelIds"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successTotalHarmonicDistortion"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/weather/buildings": {
      "get": {
        "tags": [
          "Weather"
        ],
        "operationId": "getBatchWeather",
        "summary": "Batch weather",
        "description": "Gets weather data for multiple buildings in a single batch request. Units are in degree Celsius (SI unit: **\u2103**).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/buildingIds"
          },
          {
            "$ref": "#/components/parameters/weatherInterval"
          },
          {
            "$ref": "#/components/parameters/weatherIntervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/weatherIntervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/weatherInclude"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successWeather"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/energy/breakers/{id}": {
      "get": {
        "tags": [
          "Energy"
        ],
        "operationId": "getBreakerEnergy",
        "summary": "Breaker energy",
        "description": "Gets energy data for a breaker. Units are in watt-hour (SI unit: **Wh**) if `type` query parameter is `real`, volt-ampere-hour (SI unit: **VAh**) if `type` query parameter is `apparent`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/breakerId"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/energyType"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successEnergy"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/power/breakers/{id}": {
      "get": {
        "tags": [
          "Power"
        ],
        "operationId": "getBreakerPower",
        "summary": "Breaker power",
        "description": "Gets average power data for a breaker. Units are in watts (SI unit: **W**).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/breakerId"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPower"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/power-factor/breakers/{id}": {
      "get": {
        "tags": [
          "Power Factor"
        ],
        "operationId": "getBreakerPowerFactor",
        "summary": "Breaker power factor",
        "description": "Gets average power factor data for a breaker. The power factor can range between -1 to 1 (a negative power factor may indicate a reverse current flow from sources such as solar panels or battery banks).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/breakerId"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPowerFactor"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/energy/buildings/{id}": {
      "get": {
        "tags": [
          "Energy"
        ],
        "operationId": "getBuildingEnergy",
        "summary": "Building energy",
        "description": "Gets energy data for a building. Units are in watt-hour (SI unit: **Wh**) if `type` query parameter is `real`, volt-ampere-hour (SI unit: **VAh**) if `type` query parameter is `apparent`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/buildingId"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/energyType"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successEnergy"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/power/buildings/{id}": {
      "get": {
        "tags": [
          "Power"
        ],
        "operationId": "getBuildingPower",
        "summary": "Building power",
        "description": "Gets average power data for a building. Units are in watts (SI unit: **W**).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/buildingId"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPower"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/events/pro-capture/buildings/{buildingId}/panels": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "getBuildingProCaptureEvents",
        "summary": "Building Pro Capture events",
        "description": "Gets Pro Capture event summary for all panels in the specified building.\n",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "Building ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/current/circuits/{id}": {
      "get": {
        "tags": [
          "Current"
        ],
        "operationId": "getCircuitCurrent",
        "summary": "Circuit current (RMS)",
        "description": "Gets current data for a circuit. Units are in amperes (SI unit: **A**).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/circuitId"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successCurrent"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/current/circuits/{id}/waveforms": {
      "get": {
        "tags": [
          "Current"
        ],
        "operationId": "getCircuitCurrentWaveform",
        "summary": "Circuit current waveform",
        "description": "Gets current waveform for a circuit.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/circuitId"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successWaveform"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/energy/circuits/{id}": {
      "get": {
        "tags": [
          "Energy"
        ],
        "operationId": "getCircuitEnergy",
        "summary": "Circuit energy",
        "description": "Gets energy data for a circuit. Units are in watt-hour (SI unit: **Wh**) if `type` query parameter is `real`, volt-ampere-hour (SI unit: **VAh**) if `type` query parameter is `apparent`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/circuitId"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/energyType"
          },
          {
            "$ref": "#/components/parameters/phaseCxOverride"
          },
          {
            "$ref": "#/components/parameters/reverseCxOverride"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successEnergy"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/power/circuits/{id}": {
      "get": {
        "tags": [
          "Power"
        ],
        "operationId": "getCircuitPower",
        "summary": "Circuit power",
        "description": "Gets average power data for a circuit. Units are in watts (SI unit: **W**) for real power, volt-amperes (SI unit: **VA**) for apparent power, and volt-amperes-reactive (SI unit: **VAr**) for reactive power.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/circuitId"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/phaseCxOverride"
          },
          {
            "$ref": "#/components/parameters/reverseCxOverride"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPower"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/power-factor/circuits/{id}": {
      "get": {
        "tags": [
          "Power Factor"
        ],
        "operationId": "getCircuitPowerFactor",
        "summary": "Circuit power factor",
        "description": "Gets average power factor data for a circuit. The power factor can range between -1 to 1 (a negative power factor may indicate a reverse current flow from sources such as solar panels or battery banks).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/circuitId"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/phaseCxOverride"
          },
          {
            "$ref": "#/components/parameters/reverseCxOverride"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPowerFactor"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/voltage/circuits/{id}": {
      "get": {
        "tags": [
          "Voltage"
        ],
        "operationId": "getCircuitVoltage",
        "summary": "Circuit voltage (RMS)",
        "description": "Gets voltage data for a circuit. Units are in volts (SI unit: **V**).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/circuitId"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/phaseCxOverride"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successVoltage"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/voltage/circuits/{id}/waveforms": {
      "get": {
        "tags": [
          "Voltage"
        ],
        "operationId": "getCircuitVoltageWaveform",
        "summary": "Circuit voltage waveform",
        "description": "Gets voltage waveform for a circuit.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/circuitId"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successWaveform"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/energy/panels/{id}": {
      "get": {
        "tags": [
          "Energy"
        ],
        "operationId": "getPanelEnergy",
        "summary": "Panel energy",
        "description": "Gets energy data for a panel. Units are in watt-hour (SI unit: **Wh**) if `type` query parameter is `real`, volt-ampere-hour (SI unit: **VAh**) if `type` query parameter is `apparent`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/panelId"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/energyType"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successEnergy"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/power/panels/{id}": {
      "get": {
        "tags": [
          "Power"
        ],
        "operationId": "getPanelPower",
        "summary": "Panel power",
        "description": "Gets average power data for a panel. Units are in watts (SI unit: **W**).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/panelId"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPower"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/power-factor/panels/{id}": {
      "get": {
        "tags": [
          "Power Factor"
        ],
        "operationId": "getPanelPowerFactor",
        "summary": "Panel power factor",
        "description": "Gets average power factor data for a panel. The power factor can range between -1 to 1 (a negative power factor may indicate a reverse current flow from sources such as solar panels or battery banks).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/panelId"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPowerFactor"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/events/pro-capture/buildings/{buildingId}/panels/{panelId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "getPanelProCaptureEvents",
        "summary": "Panel Pro Capture events",
        "description": "Gets Pro Capture event summary for the building.\n",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "Building ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "panelId",
            "in": "path",
            "description": "Panel ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/events/pro-capture/buildings/{buildingId}/panels/{panelId}/waveforms": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "getPanelProCaptureWaveforms",
        "summary": "Panel Pro Capture waveforms",
        "description": "Gets Pro Capture waveforms that\n",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "Building ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "panelId",
            "in": "path",
            "description": "Panel ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/eventTimestamp"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/thd/panels/{id}": {
      "get": {
        "tags": [
          "Total Harmonic Distortion"
        ],
        "operationId": "getPanelTotalHarmonicDistortion",
        "summary": "Panel total harmonic distortion",
        "description": "Gets average total harmonic distortion data for a panel.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/panelId"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/intervalScopedStartTime"
          },
          {
            "$ref": "#/components/parameters/intervalScopedEndTime"
          },
          {
            "$ref": "#/components/parameters/timestampFormat"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successPowerFactor"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/entityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.verdigris.co/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "unauthorizedError": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "UnauthorizedError"
          },
          "message": {
            "type": "string",
            "example": "No authorization token was found"
          },
          "code": {
            "type": "string",
            "example": "credentials_required"
          },
          "status": {
            "type": "integer",
            "example": 401
          }
        }
      },
      "permissionDeniedError": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "UnauthorizedError"
          },
          "message": {
            "type": "string",
            "example": "Permission denied"
          },
          "code": {
            "type": "string",
            "example": "permission_denied"
          },
          "status": {
            "type": "integer",
            "example": 403
          }
        }
      },
      "permissionsInvalidError": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "UnauthorizedError"
          },
          "message": {
            "type": "string",
            "example": "Permissions should be an Array or String. Bad format?"
          },
          "code": {
            "type": "string",
            "example": "permissions_invalid"
          },
          "status": {
            "type": "integer",
            "example": 403
          }
        }
      },
      "entityNotFoundError": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "EntityNotFoundError"
          },
          "message": {
            "type": "string",
            "example": "One or more entity with given IDs does not exist in your account."
          },
          "status": {
            "type": "integer",
            "example": 404
          },
          "invalidIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [
              1,
              2,
              3
            ]
          }
        }
      },
      "unprocessableEntityError": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "UnprocessableEntityError"
          },
          "message": {
            "type": "string",
            "example": "Validation error"
          },
          "status": {
            "type": "integer",
            "example": 422
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/validationError"
            }
          }
        }
      },
      "validationError": {
        "type": "object",
        "properties": {
          "location": {
            "type": "string",
            "example": "query"
          },
          "msg": {
            "type": "string",
            "example": "must be in ISO 8601 format"
          },
          "param": {
            "type": "string",
            "example": "start_time"
          },
          "value": {
            "type": "string",
            "example": "1:15PM 10/13/1999"
          }
        }
      },
      "successEnergyJSONEpoch": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "integer",
              "example": 1546301700000
            },
            "energy": {
              "type": "number",
              "format": "float",
              "example": 18273.97233876
            }
          }
        }
      },
      "successEnergyJSONISO8601": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:15:00Z"
            },
            "energy": {
              "type": "number",
              "format": "float",
              "example": 18273.97233876
            }
          }
        }
      },
      "successEnergyCSVEpoch": {
        "type": "string",
        "example": "id,timestamp,energy\n12345,1546301700000,18273.97233876\n"
      },
      "successEnergyCSVISO8601": {
        "type": "string",
        "example": "id,timestamp,energy\n12345,2020-01-01T00:15:00Z,18273.97233876\n"
      },
      "successPowerJSONEpoch": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "integer",
              "example": 1546301700000
            },
            "power": {
              "type": "number",
              "format": "float",
              "example": 18273.97233876
            }
          }
        }
      },
      "successPowerJSONISO8601": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:15:00Z"
            },
            "power": {
              "type": "number",
              "format": "float",
              "example": 18273.97233876
            }
          }
        }
      },
      "successPowerCSVEpoch": {
        "type": "string",
        "example": "id,timestamp,power\n12345,1546301700000,18273.97233876\n"
      },
      "successPowerCSVISO8601": {
        "type": "string",
        "example": "id,timestamp,power\n12345,2020-01-01T00:15:00Z,18273.97233876\n"
      },
      "successPowerFactorJSONEpoch": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "integer",
              "example": 1546301700000
            },
            "power-factor": {
              "type": "number",
              "format": "float",
              "example": 0.97233876
            }
          }
        }
      },
      "successPowerFactorJSONISO8601": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:15:00Z"
            },
            "power-factor": {
              "type": "number",
              "format": "float",
              "example": 0.97233876
            }
          }
        }
      },
      "successPowerFactorCSVEpoch": {
        "type": "string",
        "example": "id,timestamp,power\n12345,1546301700000,0.97233876\n"
      },
      "successPowerFactorCSVISO8601": {
        "type": "string",
        "example": "id,timestamp,power\n12345,2020-01-01T00:15:00Z,0.97233876\n"
      },
      "successControlJSONEpoch": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "example": "Chiller Temperature"
            },
            "timestamp": {
              "type": "integer",
              "example": 1546301700000
            },
            "device-id": {
              "type": "integer",
              "example": 12345
            },
            "control": {
              "type": "number",
              "format": "float",
              "example": 24.576
            }
          }
        }
      },
      "successControlJSONISO8601": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "example": "Chiller Temperature"
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:15:00Z"
            },
            "device-id": {
              "type": "integer",
              "example": 12345
            },
            "control": {
              "type": "number",
              "format": "float",
              "example": 24.576
            }
          }
        }
      },
      "successControlCSVEpoch": {
        "type": "string",
        "example": "id,timestamp,device-id,control\nChiller Temperature,1546301700000,12345,24.576\n"
      },
      "successControlCSVISO8601": {
        "type": "string",
        "example": "id,timestamp,device-id,control\nChiller Temperature,2020-01-01T00:15:00Z,12345,24.576\n"
      },
      "successForecastJSONEpoch": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "integer",
              "example": 1546301700000
            },
            "q1": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q5": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q10": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q15": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q20": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q25": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q30": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q35": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q40": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q45": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q50": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q55": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q60": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q65": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q70": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q75": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q80": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q85": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q90": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q95": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q99": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            }
          }
        }
      },
      "successForecastJSONISO8601": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:15:00Z"
            },
            "q1": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q5": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q10": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q15": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q20": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q25": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q30": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q35": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q40": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q45": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q50": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q55": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q60": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q65": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q70": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q75": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q80": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q85": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q90": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q95": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            },
            "q99": {
              "type": "number",
              "format": "float",
              "example": 1337.314159
            }
          }
        }
      },
      "successForecastCSVEpoch": {
        "type": "string",
        "example": "id,timestamp,q1,q5,q10,q15,q20,q25,q30,q35,q40,q45,q50,q55,q60,q65,q70,q75,q80,q85,q90,q95,q99\n12345,1546301700000,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159\n"
      },
      "successForecastCSVISO8601": {
        "type": "string",
        "example": "id,timestamp,q1,q5,q10,q15,q20,q25,q30,q35,q40,q45,q50,q55,q60,q65,q70,q75,q80,q85,q90,q95,q99\n12345,2020-01-01T00:15:00Z,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159,1337.314159\n"
      },
      "successCurrentJSONEpoch": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "integer",
              "example": 1546301700000
            },
            "current": {
              "type": "number",
              "format": "float",
              "example": 28.776
            }
          }
        }
      },
      "successCurrentJSONISO8601": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:15:00Z"
            },
            "current": {
              "type": "number",
              "format": "float",
              "example": 28.776
            }
          }
        }
      },
      "successCurrentCSVEpoch": {
        "type": "string",
        "example": "id,timestamp,current\n12345,1546301700000,28.776\n"
      },
      "successCurrentCSVISO8601": {
        "type": "string",
        "example": "id,timestamp,current\n12345,2020-01-01T00:15:00Z,28.776\n"
      },
      "power": {
        "type": "object",
        "properties": {
          "real": {
            "type": "number",
            "format": "float",
            "example": 174.88095092773438
          },
          "apparent": {
            "type": "number",
            "format": "float",
            "example": 176.09056091308594
          },
          "reactive": {
            "type": "number",
            "format": "float",
            "example": 20.604335594641007
          }
        }
      },
      "successWaveformJSONEpoch": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "integer",
              "example": 1546301700000
            },
            "power": {
              "$ref": "#/components/schemas/power"
            },
            "waveform-count": {
              "type": "integer",
              "example": 54000
            },
            "waveform": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "float",
                "example": [
                  1.6816323725006725,
                  1.691912207336287,
                  1.7634643739262401,
                  2.0815979728467937,
                  2.01925914968416,
                  2.2474393828615007,
                  2.255424915132039,
                  2.2358133060639034,
                  2.2509083716154237,
                  2.2075805075944572,
                  2.2202027543110034,
                  2.5741079838558107,
                  2.5400193604045285,
                  2.5506322754822577,
                  2.3271575428365736,
                  2.312577349324954,
                  2.307476942962296,
                  2.3048495601551053,
                  2.3032009460249583,
                  2.2647501383087842,
                  2.274573037004018,
                  2.515049397152552,
                  2.364182881759973,
                  2.3617442512473303,
                  2.274882164948451,
                  2.080172504054019,
                  1.947475137135882,
                  1.8560451224766439,
                  1.7780787557601911,
                  1.756612174304962,
                  1.831573244184142,
                  1.9143824788830557,
                  1.8834707080421822,
                  1.7528856471708423,
                  1.5512413866566988,
                  1.3499560011667882,
                  1.1837349369978085,
                  1.0444464914472178,
                  0.9108750703842077,
                  0.7979252469415599,
                  0.83617855056211,
                  1.0725367020932879,
                  1.0050993150524334,
                  0.8595873665145746,
                  0.825704589519006,
                  0.5734491751844786,
                  0.16027403620751102,
                  0.04084130332289959,
                  -0.18378586495304816,
                  -0.2875377629805058,
                  -0.421181296837176,
                  -0.558697425899723,
                  -0.6472699007375127,
                  -0.7067458613458797,
                  -0.7926994492769381,
                  -0.9260922517098038,
                  -1.1047622666980033,
                  -1.136603059136121,
                  -1.4305498530506782,
                  -1.502450658640214,
                  -1.5106886112786242,
                  -1.486417666150004,
                  -1.382504409988968,
                  -1.5902314281514407,
                  -1.7045310761646988,
                  -1.7779241917879745,
                  -1.7933457865258333,
                  -2.0818727077484027,
                  -2.0461352654464804,
                  -2.2802747074546232,
                  -2.2843961404197444,
                  -2.232309924267156,
                  -2.2341131023695198,
                  -2.2276902016220674,
                  -2.247817296891583,
                  -2.399250478608792,
                  -2.4455150581018756,
                  -2.624820525500354,
                  -2.4472324583176714,
                  -2.409107975067343,
                  -2.275328660343689,
                  -2.268665622457945,
                  -2.2421158311614704,
                  -2.193670159535941,
                  -2.2127325035213516,
                  -2.4894957757750262,
                  -2.4097778205204463,
                  -2.2724437391563015,
                  -2.2988559582814787,
                  -2.078987581840522,
                  -1.9391460838780858,
                  -1.8550661490791072,
                  -1.7248933952806738,
                  -1.7368288047431975,
                  -1.864545731507576,
                  -1.904267444044308,
                  -1.8791259250191956,
                  -1.7383228549011278,
                  -1.5832676558614764,
                  -1.3836498211473156,
                  -1.1950572085837905,
                  -1.0176511379193869,
                  -0.8846688000749907,
                  -0.8069926758374919,
                  -0.8660702503664766,
                  -1.0277679128823252,
                  -0.96176960854703,
                  -0.848208387352031,
                  -0.6940788832016125,
                  -0.5546703179017527,
                  -0.18365534284372842,
                  0.0024780927867371627,
                  0.19732177922986338,
                  0.3207644619761254,
                  0.38866385198956266,
                  0.495245895677499,
                  0.5653142481341717,
                  0.6269419746643621,
                  0.9294513055589846,
                  0.9163550285408917,
                  1.0411870341178826,
                  1.140168266521755,
                  1.3767393785457784,
                  1.3692243963284056,
                  1.426423097352739,
                  1.4825708657262453,
                  1.4637284939105655,
                  1.6108839385662463
                ]
              }
            }
          }
        }
      },
      "successWaveformJSONISO8601": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:15:00Z"
            },
            "power": {
              "$ref": "#/components/schemas/power"
            },
            "waveform-count": {
              "type": "integer",
              "example": 54000
            },
            "waveform": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "float",
                "example": [
                  1.6816323725006725,
                  1.691912207336287,
                  1.7634643739262401,
                  2.0815979728467937,
                  2.01925914968416,
                  2.2474393828615007,
                  2.255424915132039,
                  2.2358133060639034,
                  2.2509083716154237,
                  2.2075805075944572,
                  2.2202027543110034,
                  2.5741079838558107,
                  2.5400193604045285,
                  2.5506322754822577,
                  2.3271575428365736,
                  2.312577349324954,
                  2.307476942962296,
                  2.3048495601551053,
                  2.3032009460249583,
                  2.2647501383087842,
                  2.274573037004018,
                  2.515049397152552,
                  2.364182881759973,
                  2.3617442512473303,
                  2.274882164948451,
                  2.080172504054019,
                  1.947475137135882,
                  1.8560451224766439,
                  1.7780787557601911,
                  1.756612174304962,
                  1.831573244184142,
                  1.9143824788830557,
                  1.8834707080421822,
                  1.7528856471708423,
                  1.5512413866566988,
                  1.3499560011667882,
                  1.1837349369978085,
                  1.0444464914472178,
                  0.9108750703842077,
                  0.7979252469415599,
                  0.83617855056211,
                  1.0725367020932879,
                  1.0050993150524334,
                  0.8595873665145746,
                  0.825704589519006,
                  0.5734491751844786,
                  0.16027403620751102,
                  0.04084130332289959,
                  -0.18378586495304816,
                  -0.2875377629805058,
                  -0.421181296837176,
                  -0.558697425899723,
                  -0.6472699007375127,
                  -0.7067458613458797,
                  -0.7926994492769381,
                  -0.9260922517098038,
                  -1.1047622666980033,
                  -1.136603059136121,
                  -1.4305498530506782,
                  -1.502450658640214,
                  -1.5106886112786242,
                  -1.486417666150004,
                  -1.382504409988968,
                  -1.5902314281514407,
                  -1.7045310761646988,
                  -1.7779241917879745,
                  -1.7933457865258333,
                  -2.0818727077484027,
                  -2.0461352654464804,
                  -2.2802747074546232,
                  -2.2843961404197444,
                  -2.232309924267156,
                  -2.2341131023695198,
                  -2.2276902016220674,
                  -2.247817296891583,
                  -2.399250478608792,
                  -2.4455150581018756,
                  -2.624820525500354,
                  -2.4472324583176714,
                  -2.409107975067343,
                  -2.275328660343689,
                  -2.268665622457945,
                  -2.2421158311614704,
                  -2.193670159535941,
                  -2.2127325035213516,
                  -2.4894957757750262,
                  -2.4097778205204463,
                  -2.2724437391563015,
                  -2.2988559582814787,
                  -2.078987581840522,
                  -1.9391460838780858,
                  -1.8550661490791072,
                  -1.7248933952806738,
                  -1.7368288047431975,
                  -1.864545731507576,
                  -1.904267444044308,
                  -1.8791259250191956,
                  -1.7383228549011278,
                  -1.5832676558614764,
                  -1.3836498211473156,
                  -1.1950572085837905,
                  -1.0176511379193869,
                  -0.8846688000749907,
                  -0.8069926758374919,
                  -0.8660702503664766,
                  -1.0277679128823252,
                  -0.96176960854703,
                  -0.848208387352031,
                  -0.6940788832016125,
                  -0.5546703179017527,
                  -0.18365534284372842,
                  0.0024780927867371627,
                  0.19732177922986338,
                  0.3207644619761254,
                  0.38866385198956266,
                  0.495245895677499,
                  0.5653142481341717,
                  0.6269419746643621,
                  0.9294513055589846,
                  0.9163550285408917,
                  1.0411870341178826,
                  1.140168266521755,
                  1.3767393785457784,
                  1.3692243963284056,
                  1.426423097352739,
                  1.4825708657262453,
                  1.4637284939105655,
                  1.6108839385662463
                ]
              }
            }
          }
        }
      },
      "successWaveformCSVEpoch": {
        "type": "string",
        "example": "id,timestamp,power,waveform-count,waveform\n12345,1546301700000,\"{\\\"real\\\":174.88095092773438,\\\"apparent\\\":176.09056091308594,\\\"reactive\\\":20.604335594641007}\",54000,\"1.6816323725006725,1.691912207336287,1.7634643739262401,2.0815979728467937,2.01925914968416,2.2474393828615007,2.255424915132039,2.2358133060639034,2.2509083716154237,2.2075805075944572,2.2202027543110034,2.5741079838558107,2.5400193604045285,2.5506322754822577,2.3271575428365736,2.312577349324954,2.307476942962296,2.3048495601551053,2.3032009460249583,2.2647501383087842,2.274573037004018,2.515049397152552,2.364182881759973,2.3617442512473303,2.274882164948451,2.080172504054019,1.947475137135882,1.8560451224766439,1.7780787557601911,1.756612174304962,1.831573244184142,1.9143824788830557,1.8834707080421822,1.7528856471708423,1.5512413866566988,1.3499560011667882,1.1837349369978085,1.0444464914472178,0.9108750703842077,0.7979252469415599,0.83617855056211,1.0725367020932879,1.0050993150524334,0.8595873665145746,0.825704589519006,0.5734491751844786,0.16027403620751102,0.04084130332289959,-0.18378586495304816,-0.2875377629805058,-0.421181296837176,-0.558697425899723,-0.6472699007375127,-0.7067458613458797,-0.7926994492769381,-0.9260922517098038,-1.1047622666980033,-1.136603059136121,-1.4305498530506782,-1.502450658640214,-1.5106886112786242,-1.486417666150004,-1.382504409988968,-1.5902314281514407,-1.7045310761646988,-1.7779241917879745,-1.7933457865258333,-2.0818727077484027,-2.0461352654464804,-2.2802747074546232,-2.2843961404197444,-2.232309924267156,-2.2341131023695198,-2.2276902016220674,-2.247817296891583,-2.399250478608792,-2.4455150581018756,-2.624820525500354,-2.4472324583176714,-2.409107975067343,-2.275328660343689,-2.268665622457945,-2.2421158311614704,-2.193670159535941,-2.2127325035213516,-2.4894957757750262,-2.4097778205204463,-2.2724437391563015,-2.2988559582814787,-2.078987581840522,-1.9391460838780858,-1.8550661490791072,-1.7248933952806738,-1.7368288047431975,-1.864545731507576,-1.904267444044308,-1.8791259250191956,-1.7383228549011278,-1.5832676558614764,-1.3836498211473156,-1.1950572085837905,-1.0176511379193869,-0.8846688000749907,-0.8069926758374919,-0.8660702503664766,-1.0277679128823252,-0.96176960854703,-0.848208387352031,-0.6940788832016125,-0.5546703179017527,-0.18365534284372842,0.0024780927867371627,0.19732177922986338,0.3207644619761254,0.38866385198956266,0.495245895677499,0.5653142481341717,0.6269419746643621,0.9294513055589846,0.9163550285408917,1.0411870341178826,1.140168266521755,1.3767393785457784,1.3692243963284056,1.426423097352739,1.4825708657262453,1.4637284939105655,1.6108839385662463\"\n"
      },
      "successWaveformCSVISO8601": {
        "type": "string",
        "example": "id,timestamp,power,waveform-count,waveform\n12345,2020-01-01T00:15:00Z,\"{\\\"real\\\":174.88095092773438,\\\"apparent\\\":176.09056091308594,\\\"reactive\\\":20.604335594641007}\",54000,\"1.6816323725006725,1.691912207336287,1.7634643739262401,2.0815979728467937,2.01925914968416,2.2474393828615007,2.255424915132039,2.2358133060639034,2.2509083716154237,2.2075805075944572,2.2202027543110034,2.5741079838558107,2.5400193604045285,2.5506322754822577,2.3271575428365736,2.312577349324954,2.307476942962296,2.3048495601551053,2.3032009460249583,2.2647501383087842,2.274573037004018,2.515049397152552,2.364182881759973,2.3617442512473303,2.274882164948451,2.080172504054019,1.947475137135882,1.8560451224766439,1.7780787557601911,1.756612174304962,1.831573244184142,1.9143824788830557,1.8834707080421822,1.7528856471708423,1.5512413866566988,1.3499560011667882,1.1837349369978085,1.0444464914472178,0.9108750703842077,0.7979252469415599,0.83617855056211,1.0725367020932879,1.0050993150524334,0.8595873665145746,0.825704589519006,0.5734491751844786,0.16027403620751102,0.04084130332289959,-0.18378586495304816,-0.2875377629805058,-0.421181296837176,-0.558697425899723,-0.6472699007375127,-0.7067458613458797,-0.7926994492769381,-0.9260922517098038,-1.1047622666980033,-1.136603059136121,-1.4305498530506782,-1.502450658640214,-1.5106886112786242,-1.486417666150004,-1.382504409988968,-1.5902314281514407,-1.7045310761646988,-1.7779241917879745,-1.7933457865258333,-2.0818727077484027,-2.0461352654464804,-2.2802747074546232,-2.2843961404197444,-2.232309924267156,-2.2341131023695198,-2.2276902016220674,-2.247817296891583,-2.399250478608792,-2.4455150581018756,-2.624820525500354,-2.4472324583176714,-2.409107975067343,-2.275328660343689,-2.268665622457945,-2.2421158311614704,-2.193670159535941,-2.2127325035213516,-2.4894957757750262,-2.4097778205204463,-2.2724437391563015,-2.2988559582814787,-2.078987581840522,-1.9391460838780858,-1.8550661490791072,-1.7248933952806738,-1.7368288047431975,-1.864545731507576,-1.904267444044308,-1.8791259250191956,-1.7383228549011278,-1.5832676558614764,-1.3836498211473156,-1.1950572085837905,-1.0176511379193869,-0.8846688000749907,-0.8069926758374919,-0.8660702503664766,-1.0277679128823252,-0.96176960854703,-0.848208387352031,-0.6940788832016125,-0.5546703179017527,-0.18365534284372842,0.0024780927867371627,0.19732177922986338,0.3207644619761254,0.38866385198956266,0.495245895677499,0.5653142481341717,0.6269419746643621,0.9294513055589846,0.9163550285408917,1.0411870341178826,1.140168266521755,1.3767393785457784,1.3692243963284056,1.426423097352739,1.4825708657262453,1.4637284939105655,1.6108839385662463\"\n"
      },
      "successTotalHarmonicDistortionJSONEpoch": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "integer",
              "example": 1546301700000
            },
            "power-factor": {
              "type": "number",
              "format": "float",
              "example": 0.025314352
            }
          }
        }
      },
      "successTotalHarmonicDistortionJSONISO8601": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:15:00Z"
            },
            "power-factor": {
              "type": "number",
              "format": "float",
              "example": 0.025314352
            }
          }
        }
      },
      "successTotalHarmonicDistortionCSVEpoch": {
        "type": "string",
        "example": "id,timestamp,power\n12345,1546301700000,0.025314352\n"
      },
      "successTotalHarmonicDistortionCSVISO8601": {
        "type": "string",
        "example": "id,timestamp,power\n12345,2020-01-01T00:15:00Z,0.025314352\n"
      },
      "successWeatherJSONEpoch": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "integer",
              "example": 1546301700000
            },
            "temperature": {
              "type": "number",
              "format": "float",
              "example": 11.455
            }
          }
        }
      },
      "successWeatherJSONISO8601": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 12345
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:15:00Z"
            },
            "temperature": {
              "type": "number",
              "format": "float",
              "example": 11.455
            }
          }
        }
      },
      "successWeatherCSVEpoch": {
        "type": "string",
        "example": "id,timestamp,temperature\n12345,1546301700000,11.455\n"
      },
      "successWeatherCSVISO8601": {
        "type": "string",
        "example": "id,timestamp,temperature\n12345,2020-01-01T00:15:00Z,11.455\n"
      }
    },
    "parameters": {
      "accept": {
        "in": "header",
        "name": "Accept",
        "description": "Specify a [MIME type](https://www.iana.org/assignments/media-types/media-types.xhtml) to indicate the content type the client would like to receive the data in. If omitted, defaults to `application/json`.\n\nCurrently, the supported formats are:\n\n- `application/json`\n- `text/csv`\n",
        "required": false,
        "schema": {
          "type": "string",
          "default": "application/json",
          "enum": [
            "application/json",
            "text/csv"
          ]
        }
      },
      "breakerIds": {
        "in": "query",
        "name": "ids",
        "description": "An array of breaker IDs separated by commas.",
        "required": true,
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "integer"
          },
          "minItems": 1
        }
      },
      "interval": {
        "in": "query",
        "name": "interval",
        "description": "Interval between each data points. Affects the validity of `start_time`, `end_time` query parameters, time resolution and aggregation of results.\n\nFor example, given the time range query parameters, `start_time=2020-01-01T12:30:00Z&end_time=2020-01-01T13:00:00Z`:\n\n- `interval=1m`: returns 30 data points at minutely resolution.\n- `interval=15m`: returns 2 data points at 15-minutesly/quarter-hourly resolution.\n\nThe ordering of timestamps is not guaranteed.\n",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "1m",
            "15m",
            "1h",
            "1d",
            "1M"
          ]
        }
      },
      "intervalScopedStartTime": {
        "name": "start_time",
        "in": "query",
[...]
